<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1 class="dark-title"><%= title %></h1>
		<form action="/darksideRouter/submit" method="POST" class="darkside-form">
			<input
				type="text"
				id="star"
				name="star"
				required
				placeholder="Enter your name here, oh wise one...he-he-he"
				class="darkside-form"
			/>
			<button type="submit" class="dark-side-button">
				Submit to the Dark Side!
			</button>
		</form>
		<a href="/lightsideRouter" class="link light-side">Light Side</a>
		<a href="/" class="link star-wars-land">Back to Star Wars Land</a>
	</body>
</html>
