<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<div class="link-container">
			<a href="http://localhost:3000/lightsideRouter" class="link light-side"
				>Light Side</a
			>
			<a href="http://localhost:3000/darksideRouter" class="link dark-side"
				>Dark Side</a
			>
		</div>
	</body>
</html>
