<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<form action="/download" method="GET">
			<label
				>Purchase the Force for a steal of a deal for a limited time
				only!</label
			>
			<button type="submit">Purchase the Force for $99.99</button>
		</form>

		<a href="http://localhost:3000/lightsideRouter">Light Side</a>
		<a href="http://localhost:3000/darksideRouter">Dark Side</a>
	</body>
</html>
